numpy==1.12.1
pathos==0.2.0
scipy==0.19.0
matplotlib==2.0.0
pandas==0.20.1
pyfits==3.3 
scikit-learn==0.18.1
kplr==0.2.1
astroML==0.3
astropy==1.3.2
requests==2.13.0
bs4==0.0.1
tensorflow==1.3.0
keras==2.0.8
lxml==4.1.1
tqdm==4.19.5
redis
rq