

#selector1 {  
   float:left;  
   text-align: center;   
   margin-top: 30px; 
   width: 20%;
  }

#selector1 .selector1_header {
	font-family: 'Fjalla One', sans-serif;
} 


#selector1 .select1 {  
   width: 150px;   
   height: 250px;
   text-align: center;
  }  
  
  
#selector1 .unselect_con {  
   width: 150px;   
   height: 250px;
   text-align: center;
  }  

#selector2 {  
   float:left;  
   text-align: center;   
   margin-top: 30px;
   width: 20%; 
 }  

#selector2 .selector2_header {
 	font-family: 'Fjalla One', sans-serif;
 }

#selector2 .select2 {  
   width: 150px;   
   height: 250px;
   text-align: center;
  }  

#selector2 .select_con {  
   width: 150px;   
   height: 250px;
   text-align: center;
  }  
  
.inbutton {  
   display: block;  
   border: 1px solid #aaa;  
   text-decoration: none;  
   background-color: #fafafa;  
   color: #123456;  
   margin: auto;
   margin-top: 2px; 
   clear:both; 
   width: 150px; 
  } 

#textarea_headers {
  float: left;
  margin-top: 65px;
  width: 20%;
  text-align: center;
} 



#textarea2 {
  float: left;
  margin-top: 5%;
  width: 60%;
  text-align: center;
}

#textarea2 h3 {
  float: left;
  margin-left: 10%;
}

.desc_header {
    font-family: 'Fjalla One', sans-serif;
} 

#textarea2 {
  float: left;
  margin-left: 10%;
  margin-top: 2%;
}

#selector3 {  
   float:left;  
   text-align: center;   
   margin-top: 30px; 
   width: 20%;
   margin-left: 50px;
  }

#selector3 .selector3_header {
	font-family: 'Fjalla One', sans-serif;
} 


#selector3 .select7 {  
   width: 150px;   
   height: 250px;
   text-align: center;   
  }  

#selector4 {  
   float:left;  
   text-align: center;   
   margin-top: 30px;
   width: 20%; 
 }  

#selector4 .selector4_header {
 	font-family: 'Fjalla One', sans-serif;
 }

#selector4 .select8 {  
   width: 150px;   
   height: 250px;
   text-align: center;
  }  


#textarea3 {
  float: left;
  margin-top: 80px;
  width: 60%;
  text-align: center;
}

#textarea3 h3 {
  float: left;
  margin-left: 10%;
}

.textarea3 {
  float: left;
  margin-left: 10%;
  margin-top: 2%;
}

#textarea4 {
  float: left;
  margin-top: 5%;
  width: 60%;
  text-align: center;
}

#textarea4 h3 {
  float: left;
  margin-left: 10%;
}

.textarea4 {
  float: left;
  margin-left: 10%;
  margin-top: 2%;
}

#buttons {
	width: 100%;
	display: inline-block;
	margin-top: 20px;
	text-align: center;
}

.submit_button1 {
	width: 10%;
	height: 30px;
	margin-right: 20px;
}

.submit_button2 {
	width: 10%;
	height: 30px;
}


table { 
    margin-left: auto;
    margin-right: auto; 
}

td {
    text-align:center; 
    vertical-align:middle;
}


th {
    text-align:center; 
    vertical-align:middle;
}

.dataframe th {
    text-align:center; 
    vertical-align:middle;
}


.desc_inputs1 {
    float: left;
    margin: 30px 30px;
    text-align:center;
    width:45%;
    display:inline-block;
}

.desc_inputs2 {
    float: right;
    padding: 30px 100px;
    text-align:center;
    width:45%;
    display:inline-block;
}

label { width: 170px; float: left; margin: 0 20px 0 0; }
input { width: 170px; border: 1px solid #000; padding: 5px;}
