<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:n="http://nevow.com/ns/nevow/0.1">
<head n:render="commonhead">
	<title n:render="rdId">Administration for </title>
	<script type="text/javascript">//<![CDATA[
		window.addEventListener("load", function() {
			document.getElementById("adminOps-action-submit").focus();
		}, false);

	//]]></script>

</head>

<body n:render="withsidebar">
	<h1 id="pagehead" n:render="rdId">Administration for </h1>

	<div n:render="ifexc" 
			style="border:3px solid red;padding:0.5ex">
		<p>The RD could not be loaded.  The exception raised was:</p>
		<p n:render="exc"/>
		<pre n:render="traceback" style="overflow:hide"/>
	</div>

	<p>Services on this RD:</p>
	<ul n:data="services" n:render="sequence">
		<li n:pattern="item"><a n:render="svclink"/></li>
	</ul>

	<p>This service 
		currently is <n:invisible n:render="string" n:data="blockstatus"/>.
	</p>

	<n:invisible n:render="form adminOps"/>

	<p n:render="ifmeta _scheduledDowntime">This service is expected to
		go down at 
		<n:invisible n:render="meta">_scheduledDowntime</n:invisible>.
	</p>

	<n:invisible n:render="form setDowntime"/>

</body>
</html>

