<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:n="http://nevow.com/ns/nevow/0.1" 
		xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>Service temporarily taken down</title>
		<n:invisible n:render="commonhead"/>
	</head>
	<body>
		<h1 id="pagehead">Service temporarily taken down</h1>
		<p>The service you requested is currently under maintanence.
			This could take from a few minutes to a day.  We are sorry for
			any inconvenience.</p>
		<p>If the service has not come back within 24 hours, please
			contact 
			<span n:render="meta">contact.email</a>.</p>
	</body>
</html>

