<html><head><title>gavo - Revision 4655: /python/tags/release-0.9.3/gavo/resources/templates</title></head>
<body>
 <h2>gavo - Revision 4655: /python/tags/release-0.9.3/gavo/resources/templates</h2>
 <ul>
  <li><a href="../">..</a></li>
  <li><a href="admin.html">admin.html</a></li>
  <li><a href="blocked.html">blocked.html</a></li>
  <li><a href="defaultresponse.html">defaultresponse.html</a></li>
  <li><a href="examples.html">examples.html</a></li>
  <li><a href="loginout.html">loginout.html</a></li>
  <li><a href="maintenance.html">maintenance.html</a></li>
  <li><a href="rdinfo.html">rdinfo.html</a></li>
  <li><a href="rdlist.html">rdlist.html</a></li>
  <li><a href="refdoc.rstx">refdoc.rstx</a></li>
  <li><a href="reloaded.html">reloaded.html</a></li>
  <li><a href="root-tree.html">root-tree.html</a></li>
  <li><a href="root.html">root.html</a></li>
  <li><a href="serviceinfo.html">serviceinfo.html</a></li>
  <li><a href="sidebar.html">sidebar.html</a></li>
  <li><a href="specview.html">specview.html</a></li>
  <li><a href="tableinfo.html">tableinfo.html</a></li>
  <li><a href="tapexamples.html">tapexamples.html</a></li>
  <li><a href="voplot.html">voplot.html</a></li>
 </ul>
 <hr noshade><em>Powered by <a href="http://subversion.apache.org/">Apache Subversion</a> version 1.8.10 (r1615264).</em>
</body></html>