<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:n="http://nevow.com/ns/nevow/0.1">
  <head>
    <title n:render="title"/>
		<meta name="robots" content="nofollow"/>
		<n:invisible n:render="commonhead"/>
		<style type="text/css">
			div.rddesc {
				margin-top: 1ex;
				margin-bottom: 1ex;
				padding-top: 0.5ex;
				padding-bottom: 0.5ex;
				max-width: 30em;
				border-top: 1pt solid gray;
				border-bottom: 1pt solid gray;
			}

			div.lidescription {
				margin-left:2em;
				font-size: 80%;
				background-color: #EEEEFF;
			}

			li {
				margin-top: 0.3ex;
			}
		</style>
  </head>
	<body n:render="withsidebar">
		<h1 n:render="title"/>
		<div n:render="metahtml" class="rddesc">description</div>

		<div n:render="metahtml">_longdoc</div>

		<h2>Services defined within this resource descriptor</h2>

		<ul n:data="services" n:render="sequence">
			<li n:pattern="item" n:render="rdsvc"/>
		</ul>
	
		<h2>Tables defined within this resource descriptor</h2>
		
		<ul n:data="tables" n:render="sequence">
			<li n:pattern="item" n:render="rdtable"/>
		</ul>

		<n:invisible n:render="ifmeta copyright">
		<h2>Copyright, License, Acknowledgements</h2>
		<p n:render="metahtml">copyright</p>
		</n:invisible>

		<p><a>
			<n:attr name="href" n:render="rootlink" n:data="clientRdId">/seffe/<n:invisible n:render="string"/></n:attr>
			[Manage RD]</a></p>
	</body>
</html>
