<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
		"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:n="http://nevow.com/ns/nevow/0.1" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title n:render="title"/>
		<meta name="robots" content="nofollow"/>
		<n:invisible n:render="commonhead"/>
  </head>
	<body n:render="withsidebar">
		<div class="wrapuseservice">
			<div class="useservice" n:data="browserURL" n:render="ifdata">
				<a>
					<n:attr name="href" n:render="string"/>
					<img src="/static/img/usesvcbutton.png" class="silentlink"
						alt="[Use this service from your browser]"/>
				</a>
				<p>Further access options are discussed <a href="#overview">below</a></p>
			</div>
		</div>

		<h1 n:render="title"/>

		<div class="metadescription">
			<n:invisible n:render="metahtml">description</n:invisible>
		</div>

		<p>For a list of all services and tables belonging to this service's 
			resource, see <a n:data="service" n:render="rdInfoLink"/></p>

		<n:invisible n:render="ifmeta _longdoc">
			<h2 class="section" id="svcdoc">Service Documentation</h2>

			<n:invisible n:render="metahtml">_longdoc</n:invisible>
		</n:invisible>

		<h2 class="section" id="overview">Overview</h2>

		<p><strong>You can access</strong> this service using:</p>
		<ul n:data="rendAvail" n:render="sequence">
			<li n:render="mapping" n:pattern="item">
				<em><n:slot name="rendName"/></em> --
					<n:slot name="rendExpl"/></li>
		</ul>

		<div id="publications" n:data="publications">
			<p n:render="ifnodata"><strong style="background-color: #FF9988">
				This service is not published.</strong>
				This can mean that it was deemed too unimportant, for internal
				use only, or is just a helper for a published service. 
				Equally likely, however,
				it is under development, abandoned in development or otherwise
				unfinished.  Exercise caution.</p>
			<n:invisible n:render="ifdata">
				<p>This service is <strong>published</strong> as follows:</p>
				<ul n:render="sequence">
					<li n:render="mapping" n:pattern="item">Within the
						set(s) <em><n:slot name="sets"/></em> with the renderer
						<em><n:slot name="render"/></em></li>
				</ul>
				<p><em>local</em> means it is listed on our front page, 
				<em>ivo_managed</em> means
				it has a record in the VO registry, <em>gavo</em> means it
				is within GAVO's service registry.</p>
	
			</n:invisible>

		</div>

		<div id="siblings" n:render="ifdata" n:data="otherServices">
			<p><strong>Other services</strong> provided on the underlying data
				include:</p>
			<ul n:render="sequence">
				<li n:render="mapping" n:pattern="item">
					<a class="servicelink"
						><n:attr name="href"><n:slot name="infoURL"/></n:attr>
						<n:slot name="title"/></a>
				</li>
			</ul>
		</div>

		<div id="inputs" n:render="ifdata" n:data="inputFields">
			<h2 class="section">Input Fields</h2>
			<p>The following fields are available to provide input to the service
			(with some renderers, some of these fields may be unavailable):</p>
			<table n:render="sequence" class="shorttable">
				<tr n:pattern="header"><th>Name</th><th>Table Head</th>
					<th>Description</th><th>Unit</th><th>UCD</th></tr>
				<tr n:pattern="item" n:render="mapping">
					<n:attr name="class"><n:slot name="indexState"/></n:attr>
					<td><n:slot name="name"/></td>
					<td><n:slot name="tablehead"/></td>
					<td><n:slot name="description"/></td>
					<td><n:slot name="unit"/></td>
					<td><n:slot name="ucd"/></td>
				</tr>
			</table>
		</div>

		<div id="htmloutputs" n:render="ifdata" n:data="htmlOutputFields">
			<h2 class="section">Default Output Fields</h2>
			<p>The following fields are contained in the output by default.  More
				fields may be available for selection; these would be given below
				in the VOTable output fields.</p>
			<table n:render="sequence" class="shorttable">
				<tr n:pattern="header"><th>Name</th><th>Table Head</th>
					<th>Description</th><th>Unit</th><th>UCD</th></tr>
				<tr n:pattern="item" n:render="mapping">
					<n:attr name="class"><n:slot name="indexState"/></n:attr>
					<td><n:slot name="name"/></td>
					<td><n:slot name="tablehead"/></td>
					<td><n:slot name="description"/>
						<n:invisible n:render="ifkey note">
							<a n:render="notebubble"/>
						</n:invisible>
					</td>
					<td><n:slot name="unit"/></td>
					<td><n:slot name="ucd"/></td>
				</tr>
			</table>
		</div>

		<div id="VOToutputs" n:render="ifdata" n:data="votableOutputFields">
			<h2 class="section">VOTable Output Fields</h2>
			<p>The following fields are available in VOTable output.  The verbosity
				level is a number intended to represent the relative importance 
				of the field on a scale of 1 to 30.  The services take a VERB argument.
				A field is included in the output if their verbosity level is
				less or equal VERB*10.</p>
			<table n:render="sequence" class="shorttable">
				<tr n:pattern="header"><th>Name</th><th>Table Head</th>
					<th>Description</th><th>Unit</th><th>UCD</th>
					<th>Verb. Level</th></tr>
				<tr n:pattern="item" n:render="mapping">
					<n:attr name="class"><n:slot name="indexState"/></n:attr>
					<td><n:slot name="name"/></td>
					<td><n:slot name="tablehead"/></td>
					<td><n:slot name="description"/>
						<a n:render="notebubble"/>
					</td>
					<td><n:slot name="unit"/></td>
					<td><n:slot name="ucd"/></td>
					<td><n:slot name="verbLevel"/></td>
				</tr>
			</table>

		</div>

		<n:invisible n:render="ifmeta copyright">
		<h2>Copyright, License, Acknowledgements</h2>
		<p n:render="metahtml">copyright</p>
		</n:invisible>


		<p>
			<a>
				<n:attr name="href">/getRR/<n:invisible n:render="string" n:data="internalpath"/>
				</n:attr>VOResource XML</a> (that's something exclusively for VO nerds)
		</p>

		<n:invisible n:render="footnotes"/>
	</body>
</html>

