<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.1//EN"
  "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-2.dtd">
<!-- used by taprender.TAPExamples -->

<html xmlns="http://www.w3.org/1999/xhtml" version="XHTML+RDFa 1.1"
		xmlns:n="http://nevow.com/ns/nevow/0.1">
<head n:render="commonhead">
	<title n:render="meta">title</title>
</head>

<body n:render="withsidebar"
		vocab="ivo://ivoa.net/std/DALI-examples#">
	<h1>Example Queries for our TAP Service</h1>

	<ul id="toc" n:render="sequence" n:data="examples">
		<li n:pattern="item">
			<a>
				<n:attr name="href">#<n:invisible n:render="string" n:data="id"/></n:attr>
				<n:invisible n:render="string" n:data="name"/>
			</a>
		</li>
	</ul>

	<n:invisible n:render="sequence" n:data="examples">
		<div typeof="example" n:pattern="item">
			<n:attr name="id" n:render="string" n:data="id"/>
			<n:attr name="resource"
				>#<n:invisible n:render="string" n:data="id"/></n:attr>
			<h2 n:render="string" n:data="name" property="name"/>
			<n:invisible n:data="renderedDescription" n:render="xml"/>
			<p>Try the following query:</p>
			<pre property="query" n:render="string" n:data="query">
			</pre>
		</div>
	</n:invisible>


	<div n:data="rd rr/q" n:render="ifdata">
	<h1>RegTAP examples</h1>

	<p>This site carries the relational
		registry and hence understands all
		<a property="continuation" resource=""
     href="http://volute.googlecode.com/svn/trunk/projects/registry/regtap/RegTAP-fmt.html#sample_queries">RegTAP queries</a>.</p>
  </div>
</body>
</html>
