astroml==0.3
astropy==1.3.3
backports.functools-lru-cache==1.6.1
backports.weakref==1.0.post1
beautifulsoup4==4.8.2
bleach==1.5.0
bs4==0.0.1
click==7.0
cycler==0.10.0
django-graphos==0.3.41
django==1.11.28
funcsigs==1.0.2
functools32==3.2.3.post2
gunicorn==19.7.1
html5lib==0.9999999
keras==2.0.8
kplr==0.2.1
markdown==3.1.1
matplotlib==2.0.2
mock==3.0.5
numpy==1.13.0
pandas==0.20.2
protobuf==3.11.3
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
pyyaml==5.3
redis==3.4.1
requests==2.13.0
rq==1.2.2
scikit-learn==0.18.1
scipy==0.19.1
six==1.14.0
soupsieve==1.9.5
subprocess32==3.5.4
tensorflow-tensorboard==0.1.8
tensorflow==1.3.0
tqdm==4.14.0
werkzeug==1.0.0
wheel==0.34.2
